---
layout: default
---
<section class="lw-seg-12-12">
  {{ site.description }}
</section>

<section id="projects" class="lw-seg-12-6">

  <h1 class="section-heading"><a href="{{ '/projects/' | prepend: site.baseurl }}">Projects</a></h1>

  {% assign projects = site.projects | sort: 'sort_index' %}

  <ul class="content-list">
    {% for project in projects limit: 3 %}
      <li>
        <h2>
          <a class="content-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</section>

<section id="pages" class="lw-seg-12-6">

  <h1 class="section-heading"><a href="{{ '/about/' | prepend: site.baseurl }}">About Me</a></h1>

  <ul class="content-list">
    {% for page in site.about %}
      <li>
        <h2>
          <a class="content-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</section>

{% comment %}
<section id="posts" class="lw-seg-12-12">

  <h1 class="section-heading"><a href="{{ '/posts/' | prepend: site.baseurl }}">Posts</a></h1>

  <ul class="content-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="content-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</section>
{% endcomment %}
