@import "_util";

@mixin lw-form($n) {
  .lw-form-#{$n} {
    @extend %clearfix;
  }

  %lw-field-common {
    float: left;
    
    > input,
    > textarea {
      display: block;
      width: 100%;
    }
  }

  @for $i from 1 through $n {
    .lw-field-#{$n}-#{$i} {
      width: $i / $n * 100%;

      @extend %lw-field-common;
    }
  }
}
