<footer class="site-footer-clean main-section">

  <div class="wrapper">

    <div class="lw-seg-12-4">
      <ul class="contact-list">
        <!-- <li>{{ site.title }}</li> -->
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="lw-seg-12-4">
      <ul class="social-media-list">
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="lw-seg-12-4">
      <a href="{{ site.url }}">{{ site.url }}</a>
    </div>

  </div>

</footer>
