<footer class="site-footer main-section">

  <div class="wrapper">

    <div class="lw-cell-12-4">
      <ul class="contact-list">
        <li>
          {% include icon-email.html email=site.email %}
        </li>
      </ul>
    </div>

    <div class="lw-cell-12-2">
      <ul class="social-media-list">
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="lw-cell-12-6">
      <p>
        Feel free to email me or check out what I've pushed recently on github.
      </p>
    </div>

  </div>

</footer>
