{% assign resume = site.data.resume %}

<header id="resume-header">
  <h1 class="center-text">{{ resume.name }}</h1>
</header>

<div id="resume-body">
  <table id="skills">
    <thead>
      <tr><th colspan="2">Skills</th></tr>
    </thead>

    {% for category in resume.skills %}
      <tbody>
        <tr>
          <th class="col-small">{{ category.name }}</td>
          <td>
            <ul class="width-ref">
              {% for skill in category.content %}
                <li class="width-third">{{ skill }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </tbody>
    {% endfor %}
  </table>

  <table id="projects">
    <thead>
      <tr><th colspan="3">Projects</th></tr>
    </thead>

    {% for project in site.projects %}
    <tbody>
      <tr>
        <th class="col-small pos-ref{% if project.gh_repo_name %} gh-project-cell{% endif %}">
          <a class="internal-link" href="{{ project.url | prepend: site.baseurl }}">
          {{ project.title }}</a>
          {% if project.gh_repo_name %}
            <a class="icon icon--github" href="https://github.com/{{ site.github_username }}/{{ project.gh_repo_name }}">{% include icon-github.svg %}</a>
          {% endif %}
        </th>
        <td>{{ project.excerpt }}</td>
        <td class="col-small">
          <ul class="width-ref">
            {% for language in project.languages %}
              <li class="width-half">{{ language }}</li>
            {% endfor %}
            {% for technology in project.technologies %}
              <li class="width-half">{{ technology }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

  <table id="experience">
    <thead>
      <tr><th colspan="3">Experience</th></tr>
    </thead>

    {% for job in (resume.experience sort:'start' reverse) %}
      <tbody>
        <tr>
          <th rowspan="2" class="col-small">
            <a {% if job.website %}href="{{ job.website }}"{% endif %}>{{ job.employer }}</a>
          </th>
          <td class="center-text">{{ job.position }}</td>
          <td class="center-text col-small">{{ job.start | date: "%m/%Y" }} - {{ job.end | date: "%m/%Y" | default: "Present" }}</td>
        </tr>
        <tr>
          <td {% unless job.skills %}colspan="2"{% endunless %} class="center-text">
            {{ job.description }}
          </td>
          {% if job.skills %}
            <td>
              <ul class="width-ref">
                {% for skill in job.skills %}
                  <li class="width-half">{{ skill }}</li>
                {% endfor %}
              </ul>
            </td>
          {% endif %}
        </tr>
      </tbody>
    {% endfor %}
  </table>

  <table id="education">
    <thead>
      <tr><th colspan="3">Education</th></tr>
    </thead>

    {% for school in resume.education %}
      <tbody>
        <tr>
          <th {% if school.courses %}rowspan="2"{% endif %} class="col-small">
            {{ school.school }}
          </th>
          <td class="center-text">
            {{ school.qualification }} in {{ school.fields | join: ", " }}
            {% if school.gpa %}<p>GPA: {{ school.gpa }}</p>{% endif %}
          </td>
          <td class="col-small center-text">{{ school.attendance.start | date: "%m/%Y" }} - {{ school.attendance.end | date: "%m/%Y" }}</td>
        </tr>
        {% if school.courses %}
          <tr>
            <td colspan="2">
              <h4 class="cell-heading">Courses</h4>
              <ul class="width-ref">
                {% for course in school.courses %}
                  <li class="width-half">{{ course }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
      </tbody>
    {% endfor %}
  </table>
</div>
