/**
* Page content
*/
.page-content {
	background-color: $color-primary-light;
	
	table {
		background-color: $color-primary;
	}
}

.page-header {
	text-align: center;

	> .page-title {
		font-size: 32px;
	}
}

.section-heading {
	text-align: center;
	font-size: 28px;
}

.content-list {
	margin-left: 0;
	list-style: none;
}

.content-link {
	font-size: 24px;
}

headshot-container {
	margin: auto 10px;
}

img.headshot {
	width: 100%;
	border-radius: 50%;
}

/**
 * About section - Development Page
 */
.skill-group {
	@extend %vertical-rhythm;
	
	background-color: $color-primary;
	border: 1px solid $color-accent-0;
	border-radius: $spacing-unit / 2;
	padding: $spacing-unit/4 $spacing-unit / 2;
	
	> h3 {
		margin-bottom: $spacing-unit / 4;
		border-bottom: 1px solid $color-accent-0;
	}
}
