/**
* Page content
*/
.page-content {
	background-color: $color-primary-light;
	
	table {
		background-color: $color-primary;
	}
}

.page-header {
	text-align: center;

	> .page-title {
		font-size: 32px;
	}
}

.section-heading {
	text-align: center;
	font-size: 28px;
}

.content-list {
	margin-left: 0;
	list-style: none;
}

.content-link {
	font-size: 24px;
}

img.headshot {
	margin: auto $spacing-unit/2;
	border-radius: 50%;
}
