/**
 * Site footer
 */
.site-footer {
    color: $color-accent-0-dark;
    font-size: $small-font-size;
    
    a {
      color: $color-accent-0-dark;
    }
}

.site-footer-print {
  @extend .site-footer;

  .lw-cell-12-4 {
    &:nth-child(3n+1) { text-align: left; }
    &:nth-child(3n+2) { text-align: center; }
    &:nth-child(3n+3) { text-align: right; }
  }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
