/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: 15px;
}

.site-footer-clean {
  @extend .site-footer;

  .lw-seg-12-4 {
    &:nth-child(3n+1) { text-align: left; }
    &:nth-child(3n+2) { text-align: center; }
    &:nth-child(3n+3) { text-align: right; }
  }

}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
