/**
 * Site header
 */
.site-header {
    min-height: 56px;
    padding: 0;

    // Positioning context for the mobile navigation icon
    position: relative;
    
    background-color: $color-primary-dark;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $color-secondary-dark;
    }
}

.site-nav {
    z-index: 1;
    float: right;
    line-height: 56px;

    #nav-toggle {
        display: none;
    }

    .nav-links {
      display: block;
    }

    .page-link {
        color: $color-secondary-dark;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        margin-right: 20px;

        &:last-child {
          margin-right: 0px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $color-primary;
        border: 1px solid $color-accent-0-light;
        border-radius: 5px;
        text-align: right;

        #nav-toggle {
            display: block;
            float: right;
            width: 36px;
            line-height: 0;
            padding: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $color-accent-0-dark;
                }
            }
        }

        .nav-links {
            clear: both;
            display: none;
        }

        &:hover .nav-links,
        .nav-links.expanded {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            margin-right: 0px;
            margin-left: 20px;
        }
    }
}
