@import 'latticeworks/core';
@import 'latticeworks/tables';

@include latticeworks-init;
@include lw-segments(12);

@include lw-bar(12);

@include lw-tables(12);
/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Page content
 */

.page-area {
    padding: $spacing-unit 0;
}

.page-header {
  text-align: center;

  > .page-title {
    font-size: 32px;
  }
}

.section-heading {
    text-align: center;
    font-size: 28px;
}

.content-list {
    margin-left: 0;
    list-style: none;
}

.content-link {
    display: block;
    font-size: 24px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
