/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.width-ref {
    margin-bottom: $spacing-unit;
    width: 100%;
    display: inline-block;

    &:last-child {
      margin-bottom: 0px;
    }

    > * {
        float: left;
        height: 100%;

        margin-bottom: 0px;

        &.width-full { width: 100%; }

        &.width-half {
            width: 50%;

            @include media-query($on-palm) {
                width: 100%;
            }
        }

        &.width-third {
          width: 33%;

          &:nth-child(3n+2) {
            width: 34%;
          }

          @include media-query($on-palm) {
            width: 50%;
          }
        }

        &.width-quarter {
            width: 25%;

            @include media-query($on-palm) {
                width: 50%;
            }
        }

    }
}

.pos-ref {
  position: relative;
}

/**
 * Page content
 */

.page-area {
    padding: $spacing-unit 0;
}

.page-header {
  text-align: center;

  > .page-title {
    font-size: 32px;
  }
}

.page-content {}

.section-heading {
    text-align: center;
    font-size: 28px;
}

.content-list {
    margin-left: 0;
    list-style: none;
}

.content-link {
    display: block;
    font-size: 24px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
