.center-text {
  text-align: center;
}

.resume-name {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -1px;
}

#resume {

  > * {
    margin-top: $spacing-unit/2;

    &:first-child {
      margin-top: 0px;
    }
  }

  table {
    width: 100%;

    &:first-child { margin-top: 0px; }

    border-radius: 10px;
    border-collapse: collapse;
    background-color: $grey-color-light;

    > thead, tbody {
      border-bottom: 2px solid $grey-color;

      &:last-child { border-bottom: none; }

      > tr {
        border-top: 1px solid $grey-color;
        &:first-child { border-top: none; }

        > * {
          padding: 2px 5px;
          border-right: 1px solid $grey-color;

          &:last-child { border-right: none; }
        }
      }
    }

    ul {
      margin-left: 0px;
      list-style: none;

      > li { @extend .center-text; }
    }
  }

  .courses {
    font-size: $small-font-size;
  }

  .gh-project-cell {
    position: relative;

    > a {
      display: block;
      width: 100%;
    }

    .icon-row {
      display: block;
      width: 100%;

      .icon { float: right; }
    }
  }
}
