.resume-name {
	font-size: 26px;
	font-weight: 300;
	letter-spacing: -1px;
}

#resume {

	> * {
		margin-top: $spacing-unit/2;
		
		&:first-child {
			margin-top: 0px;
		}
		
		.print & {
			margin-bottom: -2px;
		}
	}

	table {
		ul {
			margin-left: 0px;
			list-style: none;

			> li { @extend .text-center; }
		}
	}

	.courses {
		font-size: $small-font-size;
	}

	.gh-project-cell {
		position: relative;

		> a {
			display: block;
			width: 100%;
		}

		.icon-row {
			display: block;
			width: 100%;

			.icon { float: right; }
		}
	}
}

.resume-note {
	margin-top: $spacing-unit/2;
	
	padding: $spacing-unit/2;
	border-radius: $spacing-unit/2;
	background-color: $color-primary-dark;
}
