.center-text {
  text-align: center;
}

.resume-name {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -1px;
}

#resume {

  > * {
    margin-top: $spacing-unit/2;
    
    &:first-child {
      margin-top: 0px;
    }
    
    .clean & {
      margin-bottom: -2px;
    }
  }

  table {
    width: 100%;
    
    border-radius: 10px;
    border-collapse: collapse;
    background-color: $color-primary-dark;

    > thead, tbody {
      border-bottom: 2px solid $color-accent-0;

      &:last-child { border-bottom: none; }

      > tr {
        border-top: 1px solid $color-accent-0;
        &:first-child { border-top: none; }

        > * {
          padding: 2px 5px;
          border-right: 1px solid $color-accent-0;

          &:last-child { border-right: none; }
        }
      }
    }

    ul {
      margin-left: 0px;
      list-style: none;

      > li { @extend .center-text; }
    }
  }

  .courses {
    font-size: $small-font-size;
  }

  .gh-project-cell {
    position: relative;

    > a {
      display: block;
      width: 100%;
    }

    .icon-row {
      display: block;
      width: 100%;

      .icon { float: right; }
    }
  }
}

.resume-note {
  margin-top: $spacing-unit/2;
  
  padding: 10px;
  border-radius: 10px;
  background-color: $color-primary-dark;
}
