---
title: Development Practices
---
{% assign skills = site.data.skills %}

<p>
	While learning how to program and preparing myself for being a
	professional developer I have learned a lot about useful software
	development practices and tools that facilitate these practices.
</p>

{% for group in skills.development %}
	<section class="skill-group">
		<h3>{{ group.name }}</h3>
		<ul>
			{% for skill in group.skills %}
				<li class="lw-cell-12-4">{{ skill }}</li>
			{% endfor %}
		</ul>
	</section>
{% endfor %}
