---
layout: default
---
<article>

  <header class="page-header">
    <h1 class="page-title">
      {{ page.title }}
      {% if page.gh_repo_name %}
        <a class="icon icon--github larger" href="https://github.com/{{ site.github_username }}/{{ page.gh_repo_name }}">{% include icon-github.svg %}</a>
      {% endif %}
    </h1>
  </header>

  <div id="skill-area">
    {% for lang in page.languages %}
      <span class="bubble language">{{ lang }}</span>
    {% endfor %}
    {% for tech in page.technologies %}
      <span class="bubble technology">{{ tech }}</span>
    {% endfor %}
  </div>

  <div>
    {{ content }}
  </div>

</article>
